<h4>Kasvit 5-6 lk</h4>

<div ng-click="toggle5(klikki5=!klikki5)">
<span ng-class="{'icon ion-minus-round': klikki5, 'icon ion-plus-round': !klikki5}"></span>
    <h4>5. luokka</h4>
<hr>

</div>

<div id="animaatio" class="check-element animate-show-hide" ng-show="myVar5">

<a ng-href="#/kasvit_luokka5" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko2.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">KASVIT</h1>
      </ion-card-title>
</ion-card>
</a>    

    
<a ng-href="#/marjat_luokka5" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko3.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">MARJAT</h1>
      </ion-card-title>
</ion-card>
</a>

</div>
    
<div ng-click="toggle6(klikki6=!klikki6)">
<span ng-class="{'icon ion-minus-round': klikki6, 'icon ion-plus-round': !klikki6}"></span>
    <h4>6. luokka</h4>
<hr>

</div>

<div id="animaatio" class="check-element animate-show-hide" ng-show="myVar6">


<a ng-href="#/kasvit_luokka6" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko2.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">KASVIT</h1>
      </ion-card-title>
</ion-card>
</a>
    
    <a ng-href="#/marjat_luokka6" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko3.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">MARJAT</h1>
      </ion-card-title>
</ion-card>
</a>

</div>

