<h3>Kasvit 1-2 lk</h3>

<div ng-click="toggle(klikki=!klikki)">
<span ng-class="{'icon ion-minus-round': klikki, 'icon ion-plus-round': !klikki}" ></span>
    <h4>1. luokka</h4>
<hr>

</div>

<div id="animaatio" class="check-element animate-show-hide" ng-show="myVar">

<a ng-href="#/puut_luokka1" class="item" id="linkki" cache-view="false">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">PUUT</h1>
      </ion-card-title>
</ion-card>
</a>

<a ng-href="#/kasvit_luokka1" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko2.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">KASVIT</h1>
      </ion-card-title>
</ion-card>
</a>

<a ng-href="#/marjat_luokka1" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko3.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">MARJAT</h1>
      </ion-card-title>
</ion-card>
</a>

</div>
    
<div ng-click="toggle2(klikki2=!klikki2)">
<span ng-class="{'icon ion-minus-round': klikki2, 'icon ion-plus-round': !klikki2}"></span>
    <h4>2. luokka</h4>
<hr>

</div>

<div id="animaatio" class="check-element animate-show-hide" ng-show="myVar2">
<a ng-href="#/puut_luokka2" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">PUUT</h1>
      </ion-card-title> 
</ion-card>
</a>

<a ng-href="#/kasvit_luokka2" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko2.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">KASVIT</h1>
      </ion-card-title>
</ion-card>
</a>

<a ng-href="#/marjat_luokka2" class="item" id="linkki">
<ion-card>
  <img class="valimenukuvat" src="img/menukuvat/kasvialavalikko3.png"/>

   <ion-card-title >
       <h1 class="valiotsikkovari">MARJAT</h1>
      </ion-card-title>
</ion-card>
</a>
</div>
