<button class="icon ion-arrow-left-c button button-outline button-small button-dark" ng-click='takaisin()'> Takaisin</button>
<h4>4. luokka - Puut</h4>
<ul class="list">
                    <li class="item1" ng-repeat="puu in puut4">
                        
                        
                    
                    <div class="list card">
                            
                    <div class="item item-avatar">    
                        <img class="pikkukuva" src="{{puu.pikkukuva}}">
                        <h2>{{ puu.nimi_fi }}</h2>
                        <p><i>{{puu.nimi_lat}}</i></p>
                    </div>
                    
                        <img class="isokuva" ng-src="{{puu.kuva}}"/>
                        
                    <div class="item item-body">    
                    
                    <p>{{ puu.tuntomerkit }}</p>
                    <p>{{ puu.pituus }}</p>
                    <p>{{ puu.kukintaaika }}</p>
                    <p>{{ puu.muuta }}</p>
                    </div>
                        
                    </div>
                    
                    </li> 
          
                </ul>
<button class="icon ion-arrow-left-c button button-outline button-small button-dark" ng-click='takaisin()'> Takaisin</button>
